CLERK_SECRET_KEY=sk_test_...
CLERK_PUBLISHABLE_KEY=pk_test_...
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres
PRISMA_CLIENT_ENGINE_TYPE=library
VITE_OPENROUTER_API_KEY=sk-or-v1-...
